body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  font-size: 18px;
}

html {
  background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSK1s6UiiDJ7k1849n71elAVj1vMWA16Y1sn_Whh89KttxtfNq_eg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  height: 100px;
  width: 100px;
}

.blinkyDancer, .bouncyDancer, .discoDancer{
  position:absolute;
  height: 100px;
  width: 100px;
}